@use './../../shared/variables' as *;
@import './../../shared/shared-styles.scss';

.takeout-explanation {
  text-align: center;
}

.search-again-button {
  margin-bottom: $spacing-lg;
}

.back-section {
  margin-top: $spacing-lg;
}
